# Exclude node modules
node_modules

# Exclude platforms directory
platforms

# Exclude plugins directory
plugins

# Exclude TS with data
src/bot-data.ts

# Exclude content of www directory
www/*

# Keep empty www directory
!www/.gitkeep

