a {
  color: map_get($colors, secondary);
  text-decoration: none;
}

.action-header {
  margin-top: 15px;
}

.school-select {
  max-width: 100%;
  padding: 10px;
}

.person-name {
  font-size: 18px;
}

.icon-button {
  background-color: transparent;
}

.ya-logo {
  width: 100%;
  height: 45px;
  margin: 20px 0;
  background-image: url("data:image/svg+xml,%3Csvg width='70' height='28' viewBox='0 0 70 28' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M69.4403647,10.0834551 L69.8026116,7.62889124 C69.0781177,7.16464004 68.2220986,6.76653705 66.7405809,6.76653705 C62.8552619,6.76653705 60.8466389,10.1166303 60.8466389,15.3575105 C60.8466389,21.0626419 62.9867872,23.9482817 66.5427909,23.9482817 C68.0574409,23.9482817 69.1110493,23.4508552 70,22.6878245 L69.4074331,20.7640646 C68.8148662,21.2948686 67.8598516,21.7922951 66.6088548,21.7922951 C64.5343687,21.7922951 63.5468242,19.4040817 63.5468242,15.2248095 C63.5468242,11.0121598 64.8636841,8.92252366 66.7076494,8.92252366 C67.7612578,8.92252366 68.7490032,9.4863006 69.4403647,10.0834551 L69.4403647,10.0834551 Z M60.5175243,23.7160549 L55.8091176,14.8598818 L59.9247566,6.99856151 L57.3235667,6.99856151 L53.3396538,14.7271808 L53.3396538,6.99856151 L50.7713955,6.99856151 L50.7713955,23.7160549 L53.3396538,23.7160549 L53.3396538,15.3906858 L57.7187452,23.7160549 L60.5175243,23.7160549 Z M41.2230567,15.9544627 L48.1374748,15.9544627 L48.1374748,14.5283316 C48.1374748,8.85617316 46.3266418,6.76653705 43.5607943,6.76653705 C40.0377221,6.76653705 38.5560037,10.6806096 38.5560037,16.0541907 C38.5560037,21.1953429 40.6634213,23.9482817 44.0874981,23.9482817 C45.7336734,23.9482817 47.116798,23.41768 48.1704064,22.5882988 L47.5776387,20.5981884 C46.9192087,21.0626419 45.7668057,21.7261469 44.3180188,21.7261469 C42.2766651,21.7261469 41.2230567,19.7358342 41.2230567,15.9544627 L41.2230567,15.9544627 Z M41.2559882,13.8316513 C41.4206459,10.8462835 41.9802812,8.88934841 43.5607943,8.88934841 C45.0423119,8.88934841 45.5033534,10.9789845 45.5033534,13.8316513 L41.2559882,13.8316513 Z M34.7036162,27 L37.0084222,27 L37.0084222,21.5932436 L35.6915623,21.5932436 L35.6915623,6.99856151 L27.9867872,6.99856151 L27.9867872,8.42489492 C27.9867872,12.8695691 27.8221295,18.0440988 26.3076804,21.5932436 L25.2868027,21.5932436 L25.2868027,27 L27.5916088,27 L27.5916088,23.7160549 L34.7036162,23.7160549 L34.7036162,27 Z M33.1562355,21.5932436 L28.7442126,21.5932436 C30.1269356,18.0440988 30.2915933,12.9029467 30.2915933,9.38697714 L30.2915933,9.0883999 L33.1562355,9.0883999 L33.1562355,21.5932436 Z M21.2699583,23.7160549 L23.8052851,23.7160549 L23.8052851,6.99856151 L21.2699583,6.99856151 L21.2699583,14.096851 L17.4505023,14.096851 L17.4505023,6.99856151 L14.8824447,6.99856151 L14.8824447,23.7160549 L17.4505023,23.7160549 L17.4505023,16.2198647 L21.2699583,16.2198647 L21.2699583,23.7160549 Z M9.05456653,23.7160549 L11.5896925,23.7160549 L11.5896925,0 L7.80336888,0 C4.0827075,0 0.954813799,2.48773909 0.954813799,7.46301499 C0.954813799,11.0121598 2.33773759,12.9361219 4.41202288,13.9975276 L0,23.7160549 L2.93030447,23.7160549 L6.9473497,14.6278573 L9.05456653,14.6278573 L9.05456653,23.7160549 Z M9.05456653,12.5048437 L7.70457427,12.5048437 C5.49856283,12.5048437 3.68752904,11.2775618 3.68752904,7.46301499 C3.68752904,3.51596952 5.66322052,2.1559866 7.70457427,2.1559866 L9.05456653,2.1559866 L9.05456653,12.5048437 Z' fill='%236C6E70' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.menu-icon {
  background-image: url(../assets/img/yamblz__star.svg);
  background-repeat: no-repeat;
}


// reset ionic styles

.header-md::after {
  background-image: none!important;
}

ion-content {
  background-color: map_get($colors, light)!important;
}

.menu, .menu-button {
  background-color: map_get($colors, secondary)!important;
  background-image: none;
  color: white;
  font-size: 2rem;
  border-bottom: 0.5px solid white!important;
}

.menu-button .item-inner {
  background-image: none!important;
}

.list-ios > .item-block.menu-button:first-child {
  border-top: 0;
}

.list .item-block .item-inner {
  border-bottom: none;
}

.list-ios .item-block .item-inner {
  border-bottom: 0;
}

.list .item-block:first-child {
  border-top: 0;
}

.list .item-block:last-child {
  border-bottom: 0;
}

ion-card-header {
  white-space: normal;
}

.card-header {
  display: inline-block;
  padding: 0 10px 5px 0;
  margin: 16px;
  border-bottom: 2px solid map_get($colors, primary);
}
